@charset "utf-8";
body {
  font-size: 16px;
  width: 100%;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 400px;
  height: 90px;
  background-image: url(./images/header-image.jpg);
  background-position: 0% 70%;
  background-color: rgba(255, 255, 232, 0.795);
  white-space: nowrap;
  border-top: 3px solid ;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(20deg, blue, red);
  border-image-slice: 1;
}
.header > h1 {
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  margin: 20px;
  padding: 0 5px;
  border: 2px solid #000;
  margin-left: 10px;
  font-size: 30px;
}

.menu {
  cursor: pointer;
}

.menu:hover {
  background-color: #e7e7e7;
}

.list-table {
  border: 4px solid black;
  margin: 20px;
  border-spacing: 5px;
}

.list-table th {
  position: relative;
  z-index: 2;
  border: 2px solid black;
  border-right: none;
  min-width: 80px;
}

.list-table td {
  position: relative;
}

.list-table td::after  {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 16px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
}

.list-table label {
  text-align: center;
}

.list-table .menu {
  width: 250px;
  margin-left: -7px;
  padding: 0 12px;
  border: 2px solid black;
  border-left: 2px solid #b4b4b4;
}

@media screen and (max-width: 375px) {
  .list-table .menu {
    width: 200px;
  }
}

/* .result {

} */

#calc-button {
  display: inline-block;
  border: 2px solid #888;
  color: #000;
  background-color: #eee;
  border-radius: 2px;
  padding: 0 10px;
  margin-left: 20px;
  box-shadow: 0px 2px #777;
}
#calc-button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.result-table {
  margin: 20px;
}

.result-table th {
  /* display: block; */
  padding: 10px 15px 10px 10px;
  white-space: nowrap;
}

.result-ingame, .result-detail {
  width: 215px;
  border: 2px solid #aaa;
  border-radius: 3px;
  padding-left: 5px;
}

@media screen and (max-width: 375px) {
  .result-ingame, .result-detail {
    width: 150px;
  }
}

.other-link {
  border-top: 1px solid #c0c0c0;
  padding: 15px;
}

.other-link > a {
  margin-left: 10px;
}

.other-link > h1 {
  font-size: 20px;
  padding-bottom: 5px;
}